.title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}
.desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
}