.provide {
    padding-bottom: 200px;
    &__items {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: 60px;
        gap: 64px;
    }
    &__item {
        width: 300px;
    }
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        margin: 0;
        margin-bottom:12px;
    }

    &__desc {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
}